/* Write your code here. */
.image {
  background-image: url('https://assets.ccbp.in/frontend/react-js/coffee-planner-bg.png');
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
h1 {
  color: #ffffff;
}
p {
  color: #ffffff;
  width: 300px;
  font-size: 20px;
}
.white {
  color: #ffffff;
}
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border-width: 0px;
  background-color: #0e8684;
  color: #ffffff;
}
.b {
  width: 100vw;

  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
